<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
        <title>{{title}}</title>
    </head>
    <body>
        <div class="container mt-5">
            <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h4 class="card-title text-center">Signup</h4>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <label for="name">Full Name : </label>
                            <input class="mb-3 form-control" type="text" placeholder="Full Name" id="name" name="full_name" required />
                            <label for="name">Phone Number : </label>
                            <input class="mb-3 form-control" type="tel" pattern="[0-9]+" placeholder="Phone Number" id="phone" name="phone" 
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="10" required /> 
                            <label for="email">Email Address : </label>
                            <input class="mb-3 form-control" type="email" placeholder="Email" id="email" name="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"/>
                            <label for="dob">Date of birth : </label>
                            <input class="mb-3 form-control" type="date" id="date" name="date_of_birth" required />
                            <label for="adress">Address : </label>
                            <textarea class=" mb-3 form-control" id="address" name="address" placeholder="Address" required ></textarea>
                            <label for="password">Password : </label>
                            <input class="form-control mb-3" type="password" placeholder="Password (must have 6 characters)" id="password" name="password" required />
                            
                            <button type="submit" value="signup" class="btn btn-primary">Create account</button>
                            <a class="btn btn-danger" href="{% url 'users:login' %}">Login</a>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </body>
</html>